{% if Authors|length %}

    {% embed 'article/editor/authors-modal-list-items.html.twig' %}
        {% block authorActionButton %}
            <button type="button" class="btn btn-sm btn-outline-success tli-add-author">
                <i class="fa-solid fa-user-plus mr-5"></i> Aggiungi
            </button>
        {% endblock %}
    {% endembed %}

{% else %}

    <div class="text-muted text-center tli-no-author-message">🤷 Nessun utente trovato</div>

{% endif %}
