{% if Authors.count > 0 %}

    {% embed 'article/editor/authors-modal-list-items.html.twig' %}
        {% block authorActionButton %}
            <button type="button" class="btn btn-sm btn-outline-danger tli-add-author">
                <i class="bi bi-person-dash"></i> Aggiungi
            </button>
        {% endblock %}
    {% endembed %}

{% else %}

    <div class="text-muted text-center tli-no-author-message">🤷 Nessun utente trovato</div>

{% endif %}
