<div class="modal-body">

    <div class="mb-4">
        <p>Aggiungi e rimuovi gli autori dell'articolo</p>
        <p>
            Ricorda che chiunque abbia partecipato alla realizzazione o al miglioramento dell'articolo,
            anche se ha svolto solo qualche correzione, deve essere accreditato fra gli autori.
        </p>
    </div>


    <div class="mb-4">

        <h6>Autori attuali</h6>

        <div class="list-group list-group-flush border rounded-3 p-2 tli-article-editor-current-authors-list" style="max-height: 200px; overflow-y: auto;">

            {% embed 'article/editor/authors-modal-list-items.html.twig' with {'Authors': Article.Authors} %}
                {% block authorActionButton %}
                    <button type="button" class="btn btn-sm btn-outline-danger tli-remove-author">
                        <i class="bi bi-person-dash"></i> Rimuovi
                    </button>
                {% endblock %}
            {% endembed %}

            <div class="text-muted text-center tli-no-author-message collapse">Nessun utente selezionato come autore</div>

        </div>

    </div>


    <!-- Add Authors Section -->
    <div class="mb-3 tli-authors-autocomplete-container">

        <h6>Aggiungi nuovi autori</h6>

        <div class="input-group mb-2">
            <input type="text" name="username" class="form-control tli-authors-autocomplete" placeholder="Cerca utente per username"
                data-autocomplete-url="{{ path('app_editor_article_authors-autocomplete') }}">
        </div>

        <div class="list-group list-group-flush border rounded-3 p-2 tli-article-editor-candidate-authors-list collapse"
             style="max-height: 250px; overflow-y: auto;"></div>

    </div>

</div>


<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
</div>
