{% if Article.currentUserCanEdit %}

    <button type="button" class="btn btn-outline-primary fw-bold"
            data-tli-modal-url="{{ path('app_editor_article_get-authors-modal', {articleId: Article.id}) }}">
        <i class="fa-solid fa-user-pen"></i> Modifica autori
    </button>

{% endif %}
