<!-- ARTICLE side column editor images gallery START -->
<div id="tli-article-editor-image-gallery" class="col-lg-4 sticky-top overflow-auto mt-15">

    {% embed 'parts/alert-chalkboard.html.twig' %}
        {% block alertStyle %}{% if Article.Images is empty %}collapse{% endif%} tli-images-guide{% endblock %}
        {% block alertTitle %}Immagini caricate{% endblock %}
        {% block alertBody %}Clicca o trascina un'immagine per inserirla nell'articolo{% endblock %}
    {% endembed %}

    {% embed 'parts/alert-chalkboard.html.twig' %}
        {% block alertStyle %}{% if Article.Images is not empty %}collapse{% endif%} tli-no-images-guide{% endblock %}
        {% block alertTitle %}Nessuna immagine caricata{% endblock %}
        {% block alertBody %}Carica un'immagine per inserirla nell'articolo{% endblock %}
    {% endembed %}

    <div class="row row-cols-2 g-1">
        {% for Image in Article.Images %}
            <div class="col">
                <div class="ratio ratio-1x1">
                    <img src="{{ Image.url(Article, 'med') }}" loading="lazy" class="img-fluid object-fit-cover"
                         alt="{{ Image.title }}" title="{{ Image.title }}">
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="sticky-bottom text-center mt-2">
        <button type="button" class="btn btn-primary tli-image-upload">
            <i class="fa-solid fa-upload"></i> Carica immagini
        </button>

        <input type="file" multiple accept="image/*" class="d-none">

        <div class="tli-image-upload-progress"></div>
    </div>

</div>
<!-- ARTICLE side column editor images gallery END -->
