<div class="modal fade" id="tli-link-file-modal" tabindex="-1">

    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    <i class="fa-solid fa-download"></i>
                    Cerca e inserisci link a file di TurboLab.it
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">

                <div class="input-group mb-3">
                    <input type="text" class="form-control tli-link-file-search-input"
                           placeholder="Cerca file da linkare...">
                    <button class="btn btn-primary tli-link-file-search-btn" type="button">
                        <i class="fa-solid fa-magnifying-glass"></i> Cerca
                    </button>
                </div>

                <div class="mb-3 small">
                    <div class="form-check form-check-inline me-0">
                        <input class="form-check-input" type="checkbox" id="tli-link-file-mine-only" name="only-mine" value="1">
                        <label class="form-check-label" for="tli-link-file-mine-only">Scritti da me</label>
                    </div>
                    <span class="border-start mx-2"></span>
                    <span class="me-2">Ordina per:</span>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="file-sort" id="tli-link-file-sort-relevance" value="relevance" checked>
                        <label class="form-check-label" for="tli-link-file-sort-relevance">Rilevanza</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="file-sort" id="tli-link-file-sort-date" value="date">
                        <label class="form-check-label" for="tli-link-file-sort-date">Data</label>
                    </div>
                </div>

                <div class="tli-link-file-results"></div>

            </div>
        </div>
    </div>

</div>
