<table class="table table-hover table-sm">
    <thead class="table-primary">
        <tr>
            <th scope="col">Titolo</th>
            <th scope="col">Visualiz.</th>
            <th scope="col">Modificato</th>
        </tr>
    </thead>
    <tbody>
        {% for Article in Articles %}
            <tr>
                <td><a href="{{ Article.url }}">{{ Article.title|raw }}</a></td>
                <td>{{ Article.views }}</td>
                <td>{{ Article.UpdatedAt|date('d/m/Y') }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
