<div class="modal-body">

    <div class="mb-3">

        <h6 class="text-secondary mb-3"><i class="fas fa-tag"></i> Tag già assegnati all'articolo:</h6>
        <div class="tli-tags-strip tli-article-editor-current-tags-list mb-2" data-changed="0"
             data-save-url="{{ path('app_editor_article_set-tags', {'articleId': Article.id}) }}">

            {% embed 'article/editor/tags-modal-list-items.html.twig' with {'Tags': Article.Tags} %}
                {% block removeTagClass %}{% endblock %}
            {% endembed %}
        </div>

        {% embed 'parts/alert-warning-message.html.twig' %}
            {% block alertStyle %}{% if Article.Tags|length > 0 %}collapse{% endif %}{% endblock %}
            {% block alertBody %}Nessun tag assegnato all'articolo{% endblock %}
        {% endembed %}

    </div>

    <div class="mb-3 text-center">
        <a href="#" class="tli-article-editor-show-suggested-tags-action" data-status="1"
           data-show-text="<i class=&quot;fa-solid fa-chevron-down&quot;></i> Apri suggerimenti"
           data-hide-text="<i class=&quot;fa-solid fa-chevron-up&quot;></i> Chiudi suggerimenti"></a>
    </div>


    {% embed 'article/editor/tags-modal-list-candidates.html.twig' with {'Tags': CommonTagGroups.main} %}
        {% block tagsListText %}Aggiungi uno o più tag "principali"{% endblock %}
    {% endembed %}

    {% embed 'article/editor/tags-modal-list-candidates.html.twig' with {'Tags': CommonTagGroups.popular} %}
        {% block tagsListText %}Altri tag usati di frequente che potresti aggiungere{% endblock %}
    {% endembed %}


    <div class="tli-tags-autocomplete-container"
         data-autocomplete-url="{{ path('app_editor_article_tags-autocomplete') }}">

        <h6 class="text-secondary mb-2"><i class="fa-solid fa-magnifying-glass"></i> Cerca un tag o creane uno nuovo:</h6>
        <div class="mb-2">
            <div class="input-group">
                <input type="text" name="tag" class="form-control tli-tags-autocomplete" placeholder="Cerca tag">
            </div>
            <small class="form-text text-muted mt-0">
                <i class="fa-solid fa-circle-info"></i>
                Digita almeno 2 caratteri del tag per cercare
            </small>
        </div>

        <div class="d-flex justify-content-center align-items-center d-none">
            <i class="tli-loaderino fa-solid fa-spinner fa-spin-pulse fa-5x"></i>
        </div>

        <div class="tli-article-editor-search-result"></div>

    </div>

</div>

<div class="modal-footer">
    <button type="button" class="btn btn-success tli-tag-button-ok">Salva assegnazione tag</button>
    <button type="button" class="btn btn-secondary tli-tag-button-cancel" data-bs-dismiss="modal">Annulla</button>
</div>

<script>jQuery('.tli-article-editor-current-tags-list').trigger('tli-tag-modal-open')</script>
