@import 'glow.css';
@import 'footer.css';


body {
    background-color: lightgray;
}

.tli-video-thumb {
    cursor: pointer;
}

.all-post-area {
    padding-bottom: 0px;
}

.title {
    text-transform: none;
}

a.disabled-link {
    cursor: default;
}
