@import 'glow.css';
@import 'footer.css';


body {
    background-color: lightgray;
}

.tli-video-thumb {
    cursor: pointer;
}

.all-post-area {
    padding-bottom: 0px;
}

.title {
    text-transform: none;
}

a.disabled-link {
    cursor: default;
}

.cta-social-top {
    font-weight: 500;
    color: #222;
    margin-right: 5px;
}
