body {
    background-color: lightgray;
}

footer .site-description {
    color: white;
    margin-top: 10px;
}

.footer-copyright .copyright-item p {
    color: white;
}

.footer-copyright .copyright-item p a {
    color: white;
    text-decoration: underline;
}

#contact img {
    max-width: 150px;
}

.partner-container {
    border-right: none;
}
