.tli-badge {
    border: 1px solid #d3d3d3;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.2s;
}

.tli-badge:hover {
    background-color: #f8f9fa;
}

.tli-badge img {
    width: 48px !important;
}

.tli-article-main-content {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}

#tli-article-body, .ck.ck-content.ck-editor__editable {
    font-size: 20px;
    line-height: 1.5;
    color: black;
}

.tli-article-main-content .alert.alert-warning {
    margin-top: 10px;
}

.tli-article-main-content .alert.alert-warning div:not(:first-child) {
    margin-top: 10px;
}

.tli-file-download {
    font-size: medium;
    font-weight: 600;
}

.tli-article-main-content img {
    width: 100%;
}

/* Istruzioni (<code>) */
.tli-article-main-content code {
    background-color: hsla(0, 0%, 78%, .3);
    border-radius: 2px;
    padding: .15em;
}

/* Update (<ins>) */
.tli-article-main-content ins {
    display: block;
    padding: 0.5em 0.75em;
    margin: 0.75em 0;
    background: #e8f8ec;
    border-left: 4px solid #28a745;
    color: inherit;
    font-style: normal;
    text-decoration: none;
    border-radius: 2px;
}

/* reset links to default look... */
.alert a, .tli-file-download a, #tli-article-body a, .ck.ck-content.ck-editor__editable a {
    all: revert;
}

/* ...no purple! */
.alert a:visited {
    color: blue;
}

#tli-article-body iframe, .ck.ck-content.ck-editor__editable iframe {
    width:100%;
    aspect-ratio: 16/9
}


.tli-prev-next-article {
    min-height: 350px;
}

.tli-prev-next-article img {
    height: 200px;
}

.tli-prev-next-article-title {
    color: #222 !important;

    /* ellipsis */
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.post-layout-top-content .post-content h1.title {
    font-size: 2.5rem;
    line-height: normal;
    font-weight: 500;
}

.tli-tags-strip ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 0;
}

.tli-tag-label {
    background: #E4E5E6;
    border-color: #E4E5E6;
}

.tli-tags-strip ul li {
    border: 1px solid #C2C5C7;
    display: inline-block;
    line-height: 40px;
    padding: 0 15px;
    font-weight: 500;
    color: black;
    margin-bottom: 5px;
}


#tli-comments-box .tli-forum-thread-link a {
    color: rgba(23, 34, 43, .5);
    font-size: 15px;
    font-weight: 500;
}
