.tli-article-main-content {
    padding-top: 15px !important;
}

.tli-article-main-content p {
    font-size: 20px;
    line-height: 1.5;
}

.tli-article-main-content img {
    width: 100%;
}

.post-reader-prev {
    height: 170px;
}

.post-reader-prev h4 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    line-height: 1.4 !important;
}
