.tli-article-main-content {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}

.tli-article-main-content p {
    font-size: 20px;
    line-height: 1.5;
}

.tli-article-main-content img {
    width: 100%;
}

.tli-article-main-content .alert.alert-warning {
    margin-top: 10px;
}

.tli-article-main-content .alert.alert-warning div:not(:first-child) {
    margin-top: 10px;
}

.tli-file-download {
    font-size: medium;
    font-weight: 600;
}

.tli-prev-next-article {
    min-height: 350px;
}

.tli-prev-next-article img {
    height: 200px;
}

.tli-prev-next-article-title {
    color: #222 !important;

    /* ellipsis */
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.post-layout-top-content .post-content h1.title {
    font-size: 2.5rem;
    line-height: normal;
    font-weight: 500;
}

.tli-tags-strip ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 0;
}

.tli-tags-strip ul li:first-child {
    background: #E4E5E6;
    border-color: #E4E5E6;
}

.tli-tags-strip ul li {
    border: 1px solid #C2C5C7;
    display: inline-block;
    line-height: 40px;
    padding: 0 15px;
    font-weight: 500;
    color: black;
    margin-bottom: 5px;
}
