#tli-userbar-load-target {
    font-size: 16px;
    font-weight: bolder;
    color: black;
    top: 0px;
    z-index: 998;
}

#tli-userbar {
    padding: 10px;
}

#tli-userbar.user-logged {
    background: linear-gradient(to right, lightgrey, white);
}

#tli-userbar.user-anonymous {
    background: linear-gradient(to right, orangered, orange);
}
