<div class="tli-handstop"
     style="border-style: dashed; border-width: thick; border-color: red; margin-bottom:10px; display: block; padding: 5px; display:none;">
    <img loading="lazy" src="/images/handstop.png" class="economics-handstop-icon" width="50" style="padding: 10px; float: left" />
    <p>Per favore, <a href="/3557">aggiungi <em>TurboLab.it</em> alle eccezioni del tuo <strong>Ad Blocker</strong></a>.
        Siamo un progetto no-profit, e la pubblicità è indispensabile per pagare le spese. Grazie per il tuo "unblock"!</p>
    <p>In ogni caso, rispettiamo la tua scelta: se deciderai di non sbloccarci, potrai comunque utilizzare il sito senza alcuna limitazione.</p>
    <p style="margin-bottom: 0px; text-align: center"><a href="#" class="economics-hide-handstop">Nascondi avviso per 3 giorni</a></p>
</div>
