<div class="tli-handstop">
    <div class="tli-handstop-inner">
        <img loading="lazy" src="/images/handstop.png" class="economics-handstop-icon" width="50" />
        <div class="tli-handstop-text">
            <p>Per favore, <a href="/3557">aggiungi <em>TurboLab.it</em> alle eccezioni del tuo <strong>Ad Blocker</strong></a>.
                Siamo un progetto no-profit, e la pubblicità è indispensabile per pagare le spese.</p>
            <p><a href="/dona">In alternativa, puoi sostenerci con una donazione</a>.</p>
            <p>Rispetteremo ogni tua scelta, e potrai sempre utilizzare il sito senza limitazioni.</p>
        </div>
        <img loading="lazy" src="/images/handstop.png" class="economics-handstop-icon" width="50" />
    </div>
    <p class="tli-handstop-hide"><a href="#" class="economics-hide-handstop">Nascondi avviso per 3 giorni</a></p>
</div>
