<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="utf-8">

    <title>PLACEHOLDER Page Title</title>
    <meta property="og:title" content="PLACEHOLDER Page Title">
    <meta name="twitter:title" content="PLACEHOLDER Page Title">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">

    <meta name="description" content="PLACEHOLDER MetaDescription">
    <meta property="og:description" content="PLACEHOLDER MetaDescription">
    <meta name="twitter:description" content="PLACEHOLDER MetaDescription">

    <link rel="canonical" href="https://PLACEHOLDER.example.com">
    <meta property="og:url" content="https://PLACEHOLDER.example.com">

    <meta property="og:type" content="website">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="og:image" content="https://PLACEHOLDER.example.com/image.png">
    <meta name="twitter:image" content="https://PLACEHOLDER.example.com/image.png">

    <meta name="twitter:site" content="@PLACEHODLDERtwitterHandleWebsite">
    <meta name="twitter:creator" content="@PLACEHODLDERtwitterHandleAuthor">

    <meta name="robots" content="index,follow">

    <link rel="icon" href="/favicon.ico">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">

    <link rel="alternate" type="application/rss+xml" title="Feed" href="/feed">

    <link rel="prev" href="https://PLACEHOLDER.example.com/prevPage">
    <link rel="next" href="https://PLACEHOLDER.example.com/nextPage">

    <link rel="preload" href="https://PLACEHOLDER.example.com/font.woff" as="font" type="font/woff2" crossorigin>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">

    <style>

    </style>
</head>

<body>

    <header id="page-top">

        <div id="tli-userbar">

            <strong>
                <a href="#">
                    <i class="fa-solid fa-user fa-shake"></i> Esegui login
                </a>
            </strong> |

            <a href="#">
                Non hai ancora l'account? <i class="fa-solid fa-users"></i>
                <strong>Iscriviti ora (gratis!)</strong>
            </a>
            per <a href="/forum">partecipare al forum</a>,
            <a href="/scrivi">pubblicare articoli sul sito</a> e
            <a href="#">ricevere la newsletter</a>!

        </div>

        <div id="tli-logo">
            <a href="/"><img src="/images/logo/turbolab.it.png"></a>
        </div>

    </header>

    <nav>
        <ul>
            <li><a href="/">PLACEHOLDER NavHome</a></li>
        </ul>
    </nav>

    <article id="article-top">
        <h1>PLACEHOLDER PageH1</h1>
        <h2>PLACEHOLDER PageH2</h2>
        <p>PLACEHOLDER Paragraph</p>
    </article>

    <aside>PLACEHOLDER Aside</aside>

    <footer>
        <div>PLACEHOLDER Footer</div>
    </footer>

    <script src="https://code.jquery.com/jquery-4.0.0.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>

    <script src="https://kit.fontawesome.com/efe2621351.js" crossorigin="anonymous"></script>

</body>
</html>
