{# 📚 #}
{% extends '@WebProfiler/Profiler/layout.html.twig' %}

{% block toolbar %}

    {% set icon %}
        {# this is the content displayed as a panel in the toolbar #}
        <img src="/favicon.ico">
        <span class="sf-toolbar-value">TLI</span>
    {% endset %}

    {% set text %}
        <div class="sf-toolbar-info-piece tli-web-debug-toolbar-extension-item">
            <strong>
                <i class="fa-sharp fa-circle-check" style="color: #248a0f;"></i>
                <a href="/{{ constant('App\\Service\\Cms\\Article::ID_QUALITY_TEST') }}">Quality test article</a>
            </strong>
        </div>

        <div class="sf-toolbar-info-piece tli-web-debug-toolbar-extension-item">
            <strong>
                <i class="fa-sharp fa-circle-check" style="color: #248a0f;"></i>
                <a href="/forum/viewtopic.php?t=12690#p96610">Quality test topic</a>
            </strong>
        </div>


        <hr>


        <div class="sf-toolbar-info-piece tli-web-debug-toolbar-extension-item"><br>
            <strong>
                <i class="fa-brands fa-html5" style="color: #ffa200;"></i>
                <a href="https://validator.w3.org/#validate_by_input"
                   target="_blank">W3C HTML Validator</a>
            </strong>
        </div>

        <div class="sf-toolbar-info-piece tli-web-debug-toolbar-extension-item"><br>
            <strong>
                <i class="fa-solid fa-square-rss" style="color: #ffa200;"></i>
                <a href="https://validator.w3.org/feed/#validate_by_input"
                   target="_blank">W3C RSS Validator</a>
            </strong>
        </div>


        <hr>


        <div class="sf-toolbar-info-piece tli-web-debug-toolbar-extension-item"><br>
            <strong>
                <i class="fa-brands fa-github" style="color: #000000;"></i>
                <a href="https://github.com/TurboLabIt/TurboLab.it"
                   target="_blank">GitHub</a>
            </strong>
        </div>

        <div class="sf-toolbar-info-piece tli-web-debug-toolbar-extension-item"><br>
            <strong>
                <i class="fa-solid fa-bug" style="color: #008000"></i>
                <a href="https://github.com/TurboLabIt/TurboLab.it/issues/new"
                   target="_blank">New issue</a>
            </strong>
        </div>

        <div class="sf-toolbar-info-piece tli-web-debug-toolbar-extension-item"><br>
            <strong>
                <i class="fa-solid fa-book" style="color: #D3D1B3"></i>
                <a href="https://github.com/TurboLabIt/TurboLab.it/tree/main/docs"
                   target="_blank">Docs</a>
            </strong>
        </div>


        <hr>


        <div class="sf-toolbar-info-piece tli-web-debug-toolbar-extension-item"><br>
            <strong>
                <i class="fa-brands fa-bootstrap" style="color: #B197FC;"></i>
                <a href="https://getbootstrap.com/docs/5.0/getting-started/introduction/"
                   target="_blank">Bootstrap</a>
            </strong>
        </div>

        <div class="sf-toolbar-info-piece tli-web-debug-toolbar-extension-item"><br>
            <strong>
                <i class="fa-solid fa-flag" style="color: #74C0FC;"></i>
                <a href="https://fontawesome.com/search?ic=free"
                   target="_blank">Font Awesome</a>
            </strong>
        </div>

        <div class="sf-toolbar-info-piece tli-web-debug-toolbar-extension-item"><br>
            <strong>
                <i class="fa-solid fa-envelope-open-text"></i>
                <a href="https://mailtrap.io/inboxes/974437/messages"
                   target="_blank">Mailtrap</a>
            </strong>
        </div>


        <hr>


        <div class="sf-toolbar-info-piece tli-web-debug-toolbar-extension-item"><br>
            <strong>
                <i class="fa-brands fa-linkedin" style="color: #74C0FC;"></i>
                <a href="{{ path('turbolabit_messengers_linkedin_auth_start') }}"
                   target="_blank">LinkedIn oAuth</a>
            </strong>
        </div>

        <div class="sf-toolbar-info-piece tli-web-debug-toolbar-extension-item"><br>
            <strong>
                <i class="fa-solid fa-folder-open" style="color: #FFD43B;"></i>
                <a class="prevent-change-url" href="#contact">Altre pagine (footer)</a>
            </strong>
        </div>
    {% endset %}

    {{ include('@WebProfiler/Profiler/toolbar_item.html.twig', { link: false }) }}

{% endblock %}
