{% extends 'archive/index.html.twig' %}

{% block breadcrumb %}

    {% if currentPage < 2 %}

        <li class="breadcrumb-item active">Tag "{{ Tag.navTitle }}"</li>

    {% else %}

        <li class="breadcrumb-item"><a href="{{ Tag.url }}">Tag "{{ Tag.navTitle }}"</a></li>
        {{ parent() }}

    {% endif %}

{% endblock %}
