<div class="col-md-6">

    {% if Article is not empty %}

        <div class="post-reader-prev tli-prev-next-article mb-3">

            <a href="{{ Article.url }}">
                <span class="d-block mb-3 {% block prevNextArticleNavClass %}{% endblock %}">
                    {% block prevNextArticleNavText %}{% endblock %}
                </span>

                <img class="d-block mx-auto mb-3" loading="lazy"
                     src="{{ Article.spotlightOrDefaultUrl(ImageSizes.med) }}"
                     alt="{{ Article.titleForHTMLAttribute|raw }}">

                <span class="fs-4 tli-prev-next-article-title">{{ Article.title|raw }}</span>
            </a>

        </div>

    {% endif %}

</div>
