{% if Article.isDraft %}

    <span style="color: #f5c211;">
        <i class="fa-solid fa-pen-ruler"></i> Articolo in lavorazione (bozza)
    </span>

{% elseif Article.isInReview %}

    <span style="color: #f5c211;">
        <i class="fa-solid fa-book"></i> Articolo non ancora pubblicato!
    </span>

{% elseif Article.isPublished %}

    <span style="color: #33d17a;">
        <i class="fa-solid fa-book"></i> Pubblicato:
    </span>
    <span> {{ Article.publishedAt|friendlyDate }}</span>

{% elseif Article.isKo %}

    <span style="color: purple;">
        <i class="fa-solid fa-circle-exclamation"></i> Articolo non disponibile
    </span>

{% else %}

    <span style="color: red;">
        <i class="fa-solid fa-bug"></i>Stato dell'articolo imprevisto
    </span>

{% endif %}
