<div class="tli-tags-strip {% if Article.Tags|length == 0 %}collapse{% endif %}">
    <ul>
        <li><i class="fas fa-tag"></i> Tag:</li>
        {% for Tag in Article.Tags %}
            <li><a href="{{ Tag.url }}"><i class="{{ Tag.fontAwesomeIcon|first }}"></i> {{ Tag.navTitle|raw }}</a></li>
        {% endfor %}
    </ul>
</div>


{% include 'article/editor/tags-missing-warning.html.twig' %}
