<div class="tli-tags-strip {% if Article.Tags|length == 0 %}collapse{% endif %}">

    {% embed 'article/editor/tags-modal-list-items.html.twig' with {'Tags': Article.Tags} %}
        {% block linkTargetBlank %}{% endblock %}
        {% block tagsListActions %}{% endblock %}
    {% endembed %}

</div>

{% include 'article/editor/tags-missing-warning.html.twig' %}
