<div class="alert alert-primary" role="alert">

    <div class="text-center mb-2 fw-bold">
        <i class="fa-solid fa-person-chalkboard fa-lg"></i> &nbsp;
        {% block chalkboardTitle %}{% endblock %}
    </div>

    {% block chalkboardBody %}{% endblock %}

</div>
