<div class="alert alert-primary {% block chalkboardStyle %}{% endblock %}" role="alert">

    <div class="text-center fw-bold {% block chalkboardTitleStyle %}fs-5 mb-2{% endblock %}">
        <i class="fa-solid fa-person-chalkboard fa-lg"></i> &nbsp;
        {% block chalkboardTitle %}{% endblock %}
    </div>

    {% block chalkboardBody %}{% endblock %}

</div>
