<div class="alert {% block alertBootstrapStyle %}alert-light{% endblock %} {% block alertStyle %}{% endblock %}" role="alert">

    <div class="text-center fw-bold {% block alertTitleStyle %}fs-5 mb-2{% endblock %}">
        {% block alertTitleIcon %}{% endblock %} {% block alertTitle %}{% endblock %}
    </div>

    <div class="{% block alertBodyStyle %}text-center{% endblock %}">
        {% block alertBody %}{% endblock %}
    </div>

</div>
