<div class="modal fade" id="tli-ajax-modal" tabindex="-1" data-bs-backdrop="static">

    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="tli-ajax-modal-content"></div>
        </div>
    </div>

    <div class="modal-body d-none tli-modal-loading">
        <div class="d-flex justify-content-center align-items-center">
            <i class="tli-loaderino fa-solid fa-spinner fa-spin-pulse fa-5x"></i>
        </div>
    </div>
</div>
