<div class="modal fade" id="tli-ajax-modal" tabindex="-1" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="tli-ajax-modal-content"></div>
            <i class="tli-loaderino fa-solid fa-spinner fa-spin-pulse collapse" style="color: #f8e45c;"></i>
        </div>
    </div>
</div>
