<div class="tli-social-icons">

    {% block socialIconsTitle %}<h3 class="title">Seguici</h3>{% endblock %}

    <div class="d-flex gap-2 justify-content-center">

        {% for Link in SocialLinks ?? FrontendHelper.FollowUsLinks %}

            <div class="ratio ratio-1x1 flex-fill icon-wrapper">
                <a href="{{ Link.url }}" {% if Link.blank %}target="_blank"{% endif %}>
                    <img src="{{ asset(Link.icon) }}" loading="lazy"
                         class="rounded-circle h-100 w-100 object-fit-cover"
                         alt="{{ Link.name }}" title="{{ Link.name }}">
                </a>
            </div>

        {% endfor %}

    </div>

</div>
