<!-- Login modal -->
{% if not is_granted('IS_AUTHENTICATED_FULLY') %}

    <div class="modal fade" id="login-modal" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="login-modal-label">Esegui login</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    {% include 'user/login-form.html.twig' %}
                </div>
            </div>
        </div>
    </div>

{% endif %}
