<form method="post" action="/ajax/login/" class="tli-user-login">

    <div class="row mb-3">
        <div class="col-md-6">
            <div class="input-group">
                <span class="input-group-text"><i class="fa-solid fa-user"></i></span>
                <input type="text" class="form-control" minlength="3" maxlength="20"
                       name="username" placeholder="Username" autocomplete="username" required>
            </div>
        </div>

        <div class="col-md-6">
            <div class="input-group">
                <span class="input-group-text"><i class="fa-solid fa-key"></i></span>
                <input type="password" class="form-control" minlength="6"
                       name="password" placeholder="Password" autocomplete="current-password" required>
            </div>
        </div>
    </div>

    <div class="form-check form-switch mb-3">
        <input class="form-check-input" type="checkbox" name="remember-me" checked>
        <label class="form-check-label">Ricordami</label>
    </div>

    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

    <button class="btn btn-primary" type="submit">Login</button>

    <div class="tli-login-response alert alert-danger collapse mt-3" role="alert"></div>

    <i class="tli-loaderino fa-solid fa-spinner fa-spin-pulse collapse" style="color: #f8e45c;"></i>

    <div class="mt-3">
        <a href="{{ FrontendHelper.forgotPasswordUrl|raw }}"><small>⁉️ Password dimenticata?</small></a>
    </div>

</form>
