<row>
    <columns>
        <p class="tli-alert-warning">
            Per favore, non rispondere a questa email. Per qualsiasi domanda o considerazione ➡
            <a href="{{ contactViaForumUrl }}">scrivi sul forum</a>
        </p>
    </columns>
</row>
